<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  <pages>
      <controls>
        <add tagPrefix="gmaps" namespace="Subgurim.Controles" assembly="GMaps" />
      </controls>
    </pages></system.web>
<appSettings>
    <!-- Add your Google Maps API Key from Google -->
    <add key="googlemaps.subgurim.net" value="" />
    <!-- And add your Commercial Key from Subgurim if you have purchased one -->
    <add key="googlemaps.subgurim.net_Commercial" value="" />
  </appSettings></configuration>