* {
   
    margin:0;
    padding:0;
}

.fondo {
    background-color: black;
    filter: alpha(opacity=90);
    opacity: 0.8;
    z-index: 10000;
}

body {
    width: 100%;
    position: relative;
}

.panelModal {
    display: none;
    background-color: white;
    width: auto;
    height: auto;
}

#contenedor {
    position: relative;
    top: 50px;
    bottom: auto;
    left: 200px;
    right: 200px;
    border: 1px solid #e3e3e3;
    border: none;
    border-radius: 0.5px;
}

#cabecera {
    position: relative;    
    background-color: #313131;
    color: white;
    height: 150px;
}

    #cabecera div {
        position: absolute;
        top: 100px;
        bottom: auto;
        left: 200px;
        right: 200px;
        background-color: #cc0909;
        height: 50px;
        border-radius:3px;
    }

#menu {
    position: absolute;
    top: 50px;
    bottom: auto;
    left: 30px;
    right: auto;
    position:static;
}

#izquierda {
    position: absolute;
    top: 50px;
    bottom: auto;
    left: 200px;
    right: auto;
}

.derecha {
    position: absolute;
    top: auto;
    bottom: auto;
    left: 200px;
    right: 200px;
}

#pie {
    position: absolute;
    top: 1500px;
    bottom: 0px;
    left: 200px;
    right: 200px;
    height: 150px;
    background-color: #cc0909;
    color: white;
    width:auto;
    height:120px;
    border-radius:3px;
}
#pie div {
        background-color: #313131;
        height: 20px;
        border-radius:3px;
    }
.logo {
    width: 300px;
    height: auto;
}

.vertical-menu {
    position: absolute;
    top: 500px;
    bottom: auto;
    left: auto;
    right: auto;
}

    .vertical-menu a {
        background-color: #f44336; /* Grey background color */
        color: white; /* Black text color */
        display: block; /* Make the links appear below each other */
        padding: 12px; /* Add some padding */
        text-decoration: none; /* Remove underline from links */
        position:static;
    }

        .vertical-menu a:hover {
            background-color: #313131; /* Dark grey background on mouse-over */
            color: white;
        }

        .vertical-menu a.active {
            background-color: #313131; /* Add a green color to the "active/current" link */
            color: white;
        }

.scrolling {
    height: 420px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#Negocio {
    height: 420px;
    overflow-y: scroll;
    overflow-x: hidden;
   
}
#mapa {
    height: 420px;
    overflow-y: scroll;
    overflow-x: scroll;
    width:60%;
}
.Comentario {
    height: 320px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color:#fc272733;      
    border-radius:5px; 
}