* {
    
    margin:0;
    padding:0;
}

body {
    
    background:#ff0000 url("../img/tecnico.jpg") fixed center center no-repeat;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -ms-background-size:cover;
    position:relative;
    width: 90%;
    
    
}
#Contenedor {
    background-color: #6b8ff833;    
    width: 100%;
    height: 100%;

}
#logo {
    position: absolute;
    width: 500px;
    height: auto;
    top: 350px;
    bottom: auto;
    right: 10%;
    left: 5%;

}

#cajaLogin {
    position: absolute;
    background-color: white;
    width: 300px;
    height: auto;
    position: absolute;
    top: 350px;
    right: 10%;
    left:auto;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #888888;
    opacity: 0.95;
    float:right;
}

#pie {
    position: absolute;
    top: 1050px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 150px;
    background-color: #313131;
    float:left;
    width:100%;
    
}

    #sudpie1 {
        background-color: #920000;
        width: 100%;
        height: 25px;
    }

   .scrolling {
    height: 550px;
    overflow-y: scroll;
    overflow-x: hidden;
}