* {
    
   margin:0;
    padding:0;
}

body {
    
    background:url("../img/tecnico.jpg") fixed center center no-repeat;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -ms-background-size:cover;    
    width: 100%;
    filter: blur(5px);
    
    
}

#logo {
    position: absolute;
    width: 500px;
    height: auto;
    top: 120px;
    bottom: auto;
    right: 10%;
    left: 5%;  
}

#cajaLogin {
    position: absolute;
    background-color: white;
    width: 300px;
    height: auto;
    position: absolute;
    top: 120px;
    right: 10%;
    left:auto;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 19px #808080;
    opacity: 0.95;
    float:right;
}

#pie {
    position: absolute;
    top: 720px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 150px;
    background-color: #313131;
    float:left;
    width:auto;
    
}

    #sudpie1 {
        background-color: #920000;
        width: 100%;
        height: 25px;
    }

   .scrolling {
    height: 550px;
    overflow-y: scroll;
    overflow-x: hidden;
}


   .btn {
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 14px 28px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
}

.success {background-color: #4CAF50;} /* Green */
.success:hover {background-color: #46a049;}

.info {background-color: #2196F3;} /* Blue */
.info:hover {background: #0b7dda;}

.warning {background-color: #ff9800;} /* Orange */
.warning:hover {background: #e68a00;}

.danger {background-color: #f44336;} /* Red */ 
.danger:hover {background: #da190b;}

.default {background-color: #e7e7e7; color: black;} /* Gray */ 
.default:hover {background: #ddd;}