* {
    margin: 0;
    padding: 0;
}

.fondo {
    background-color: black;
    filter: alpha(opacity=90);
    opacity: 0.8;
    z-index: 10000;
}

body {
    width: 100%;
    position: relative;
}

.panelModal {
    display: none;
    background-color: white;
    width: auto;
    height: auto;
}

#contenedor {
    position: relative;
    top: 50px;
    bottom: auto;
    left: 200px;
    right: 200px;
    border: 1px solid #e3e3e3;
    border: none;
    border-radius: 0.5px;
}

#cabecera {
    position: relative;
    color: white;
    width: 100%;
    height: auto;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
    background: rgb(69,72,77); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
    #cabecera #logo {
        height:60px;
        position : relative;
    }
    #cabecera img {
        height:40px;
        position : relative;
        float:right;
    }


#menu {
    position: absolute;
    top: 50px;
    bottom: auto;
    left: 30px;
    right: auto;
    position: static;
}

#izquierda {
    position: absolute;
    top: 50px;
    bottom: auto;
    left: 200px;
    right: auto;
}

.derecha {
    position: absolute;
    top: auto;
    bottom: auto;
    left: 200px;
    right: 200px;
}

.logo {
    width: 300px;
    height: auto;
}

.vertical-menu {
    position: fixed;
    top: 90px;
    bottom: auto;
    left: auto;
    right: auto;
}

    .vertical-menu a {
        background-color: #f44336; /* Grey background color */
        color: white; /* Black text color */
        display: block; /* Make the links appear below each other */
        padding: 12px; /* Add some padding */
        text-decoration: none; /* Remove underline from links */
        position: static;
    }

        .vertical-menu a:hover {
            background-color: #313131; /* Dark grey background on mouse-over */
            color: white;
        }

        .vertical-menu a.active {
            background-color: #313131; /* Add a green color to the "active/current" link */
            color: white;
        }

.scrolling {
    height: 420px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#Negocio {
    height: 420px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#mapa {
    height: 420px;
    overflow-y: scroll;
    overflow-x: scroll;
    width: 60%;
}

.Comentario {
    height: 320px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #fc272733;
    border-radius: 5px;
}

.jumbotron {
    background-color: #f44336;
    border-radius: 8px 8px 0px 0px;
    padding: 16px;
}

    .jumbotron h1 {
        color: #b91408;
        font-size: 36px;
        text-align: center;
        text-shadow: 0px 1px #fff;
    }

footer {
    width: 80%;
    margin: 0 auto;
    height: 120px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
    background: rgb(69,72,77); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
